.heading {
    text-align: center;
    font-size: 3rem;
    font-weight:bold;
    margin-top: 120px;
   
    color: #eeecec;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
  }
  
